<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique itaque placeat nulla dolorem inventore culpa,
    magnam sapiente corrupti non? Minima, amet placeat fugiat, eos laudantium dolorum sapiente dolore provident
    voluptatibus aliquid doloremque fuga consequatur esse architecto quo illo, omnis officiis. Esse aspernatur quaerat
    facere assumenda reprehenderit dolores suscipit sint hic sit repellat aut vero dicta cum nisi odio laborum aliquid
    reiciendis iste impedit velit rerum, recusandae porro! Dolores obcaecati, earum iusto modi corporis asperiores!
    Fugiat, tempore eius temporibus facere commodi est debitis natus aliquam iure excepturi modi aspernatur voluptates,
    ab recusandae atque facilis illum harum voluptatem, ea quidem hic illo?
  </p>
</ion-content>