ion-row{
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
    font-size: 22px;
}
h1{
    font-size: 100px;
}
h5{
    font-size: 50px;
}
button{
    border-radius: 5px;
    color: white;
    background-color: blue;
    padding: 1rem 2rem;
    font-size: 30px;
    margin-top: 2rem;
}