<ion-card>
  <ion-card-header>
    <ion-card-title>
      <div class="row">
        <div class="col-2">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/640px-User_icon_2.svg.png"
            alt="" class="w-100">
        </div>
        <div class="col ">
          <h1>Name</h1>
        </div>
        <div class="col">
          <h5>age: 22</h5>
        </div>
        <div class="col">
          <h5>height</h5>
        </div>
        <div class="col">
          <h5>Rs 200</h5>
        </div>
      </div>
    </ion-card-title>
    <ion-card-subtitle class="d-flex ion-justify-content-between">
      <p> Rating : 4.3 </p>
      <p>phone number</p>
      <p>email</p>
      <p></p>
    </ion-card-subtitle>
  </ion-card-header>

</ion-card>