<ion-card>
  <ion-card-header>
    <ion-card-title>
      <div class="row">
        <div class="col-2">
          <img [src]="userdata['userPhoto']" alt="" class="w-100">
        </div>
        <div class="col ">
          <h1>{{userdata['name']}}</h1>
        </div>
        <div class="col">
          <h5>age: {{userdata['age']}}</h5>
        </div>
        <div class="col">
          <h5>height: {{userdata['height']}}</h5>
        </div>
        <div class="col">
          <h5>Rs 200</h5>
        </div>
      </div>
    </ion-card-title>
    <ion-card-subtitle class="d-flex ion-justify-content-between">
      <p> Rating : {{userdata['rating']}} </p>
      <p>P.No. {{userdata['phone']}}</p>
      <p>Mail: {{userdata['email']}}</p>
      <p></p>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <button type="button" class="btn btn-outline-primary" (click)="userDetails(userdata)">User details</button>
  </ion-card-content>

</ion-card>