<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Login</ion-button>
  </form>

  <ion-button expand="block" color="light" (click)="onforgetpassword()">Forget Password</ion-button>
  <ion-button expand="block" color="light" (click)="onRegister()">Register</ion-button>
  <ion-button expand="block" color="danger" (click)="onLoginWithGoogle()">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Login with Google
  </ion-button>
</ion-content>