ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  form {
    margin-bottom: 16px;
  }
  
  ion-button {
    margin-top: 16px;
  }
  
  ::ng-deep{
    .forgetPasswordComponent{
      position: absolute;
      top: 50%;
      left: 50%;
     transform: translate(-50%, -50%);
     
    }
    
}