.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    ion-card {
      width: 100%;
      max-width: 400px;
    }
  
    .error-message {
      color: red;
      margin: 10px 0;
      text-align: center;
    }
  }
  .forgetPasswordComponent {
    max-height: 400px; /* Adjust as needed */
    max-width: 400px; /* Adjust as needed */
  }
  /* login.component.scss */
::ng-deep {

 .forgetPasswordComponent {
  max-height: 400px; /* Adjust as needed */
  max-width: 400px; /* Adjust as needed */
  align-content: center;
  text-align: center;
}

} 
