<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="d-flex ion-justify-content-between ion-padding">
      <h2>Forget Password</h2>
      <ion-buttons>
        <ion-button (click)="close()">Close</ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forgot-password-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reset Your Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <div *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched"
            class="error-message">
            Please enter a valid email.
          </div>
          <ion-button expand="full" type="submit" [disabled]="forgotPasswordForm.invalid">Submit</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>